<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Amazon Fires 2014-2019</title>


    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="assets/css/styles.css" media="screen">

    <!--Bootstap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

  <body>
    <!-- Start of navbar -->
  <div class= "container">
    <div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style="background-color: #0BADA6;" href="index.html">  Latitude  </a>
    <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Plots
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="temperature.html">Temperature</a>
            <a class="dropdown-item" href="humidity.html">Humidity</a>
            <a class="dropdown-item" href="cloudiness.html">Cloudiness</a>
            <a class="dropdown-item" href="wind.html">Wind Speed</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="comparison.html">Comparison</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="data.html">Data</a>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>2014 - 2019 Amazon Fires </h1>
      <h6>Data provided by Nasa Website</h6>
    </div>
        <div class="container">
          <video align: "right" width="500" height="250" autoplay>
            <source src="https://raw.githubusercontent.com/cbonfantep/Amazon_Fires/master/My_Movie.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
              </video>
            </div>


<div class="container">
  <h1>Comparison: 2014 - 2019 Amazon Fires </h1>
  <h6>Data provided by Nasa Website</h6>
</div>
    <div class="container">
      <div class="row">
        <div class= "col-lg-6">
            <!-- <div class= "left-box">
              <div class="col-lg-5"> -->
                <h3 class="comparison-header">2014 Fires</h3>
                <a><img src="https://raw.githubusercontent.com/cbonfantep/Amazon_Fires/master/img/2014_fires.png" alt="2014 Fire Heatmap" class="comparison-image img-responsive", width="500" height="250"></a>
                <hr class="visible-xs visible-sm">
              <!-- </div>
            </div> -->
            <!-- <div class= "right-box"> -->
            </div>
            <div class= "col-lg-6">
          <!-- <div class="col-lg-6"> -->
          <h3 class="comparison-header">2015 Fires</h3>
          <a href="humidity.html"><img src="https://raw.githubusercontent.com/cbonfantep/Amazon_Fires/master/img/2015_fires.png" alt="2015 Fire Heatmap" class="comparison-image img-responsive", width="500" height="250"></a>
          <hr class="visible-xs visible-sm">
        </div>

        </div>

      </div>
    </div>
  <!-- </div>
</div>
</div> -->


<div class="container">
  <div class="row">
    <div class= "col-lg-6">
      <!-- <div class="col-lg-6"> -->
      <h3 class="comparison-header">2016 Fires</h3>
      <a href="humidity.html"><img src="https://raw.githubusercontent.com/cbonfantep/Amazon_Fires/master/img/2016_fires.png" alt="2015 Fire Heatmap" class="comparison-image img-responsive", width="500" height="250"></a>
      <hr class="visible-xs visible-sm">
    </div>

    <div class= "col-lg-6">
      <!-- <div class="col-lg-6"> -->
      <h3 class="comparison-header">2017 Fires</h3>
      <a href="humidity.html"><img src="https://raw.githubusercontent.com/cbonfantep/Amazon_Fires/master/img/2017_fires.png" alt="2015 Fire Heatmap" class="comparison-image img-responsive", width="500" height="250"></a>
      <hr class="visible-xs visible-sm">
    </div>
      </div>
    </div>
    <!-- End of container  -->

    <div class="container">
      <div class="row">
        <div class= "col-lg-6">
          <!-- <div class="col-lg-6"> -->
          <h3 class="comparison-header">2018 Fires</h3>
          <a href="humidity.html"><img src="https://raw.githubusercontent.com/cbonfantep/Amazon_Fires/master/img/2018_fires.png" alt="2015 Fire Heatmap" class="comparison-image img-responsive", width="500" height="250"></a>
          <hr class="visible-xs visible-sm">
        </div>

        <div class= "col-lg-6">
          <!-- <div class="col-lg-6"> -->
          <h3 class="comparison-header">2019 Fires*</h3>
          <a href="humidity.html"><img src="https://raw.githubusercontent.com/cbonfantep/Amazon_Fires/master/img/2019_fires.png" alt="2015 Fire Heatmap" class="comparison-image img-responsive", width="500" height="250"></a>
          <h4 font size="2">2019 Fire data Jan-Sept</h4>
          <hr class="visible-xs visible-sm">

        </div>
          </div>
        </div>
        <!-- End of container  -->



    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy;
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>


  </body>

</html>
